# Distribution / packaging
build/
dist/

# Serverless directories
.serverless
.webpack

# Editor configs
.vscode
.idea
.husky

# Packaging
node_modules
*.log
package-lock.json

# Lingui
src/locales/_build
src/locales/*/*.js

# Importer
importer/**/*.json
importer/yarn.lock
