$breakpoint-tablet: 376px;

$greyscale-0: #000;
$greyscale-1: #4D4D4D;
$greyscale-1: #979797;

$primary: #FF0000;
$secondary: #18AF75;

$extended-1: #942190;
$extended-2: #DE0073;
$extended-3: #FD003B;
$extended-4: #FD6500;
$extended-5: #ECC90A;
$extended-6: #0C65D5;
$extended-7: #00A4E8;
$extended-8: #87C010;
$extended-9: #C7DD47;
